.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Hammersmith One', sans-serif;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__title{
    font-size: 16px;
    font-weight: 800;
}

.cart__button{
    background: #FFDA00;
    border: solid 2px #ffffff;
    color: black;
    border-radius: 40px;
}

.cart__button:hover{
        border: 2px solid #FFDA00;
        background: #ffffff;
        color: black;
}