.ingredients-selection{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

@media (max-width: 800px){
    .ingredients-selection h1{
        margin-top: 8%;
        text-align: center;
    }
}

.ingredients-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.ingredients-icons img{
    max-width: 50%;
}

.space-drodown{
    margin-top: 5%;
}

.button-alignment{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.button-style button{
    border-radius: 40px;
    padding: 10px 30px;
    background: #FFDA00;
    border: solid 2px #ffffff;
    font-size: 20px;
    margin-top: 20px;
}

.button-style button:hover{
    border: 2px solid #FFDA00;
    background: #ffffff;
    color: black;
}
  
  .css-2b097c-container{
      margin-top: 10%;
      width: 70%;
  }

  .css-26l3qy-menu{
    max-height: 200px !important;
    overflow-y: auto !important;
  }

  .css-yk16xz-control{
    border: solid 1px #FFDA00 !important;
  }

  .css-1pahdxg-control:hover{
    border: solid 1px #FFDA00 !important;
  }

  .css-1pahdxg-control:focus{
    border: solid 2px #FFDA00 !important;
  }


  .css-1pahdxg-control{
      box-shadow: none !important;
      border-color: none !important;
  }

  .css-tlfecz-indicatorContainer{
      color: black !important;
  }

.css-1okebmr-indicatorSeparator{
    background-color: black !important;
}