.left-cover{
    width: 50%;
    height: 100vh;
    background-image: url("../img/cover.png"); 
} 

.logo {
    width: 60px;
    object-fit: contain;
    margin: 0 20px;
}

input{
    display: flex;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: large;
    cursor: text;
    margin-top: 25px;
}

input:focus{ outline: none;}

h1{
    margin-bottom: 35px;
    margin-bottom: 0px;
}

.example-text{
    color: rgba(128, 128, 128, 0.555);
    margin: 0px 0px;
}

.cta-select{
    border-radius: 40px;
    padding: 10px 30px;
    background: #FFDA00;
    border: solid 2px #ffffff;
    font-size: 20px;
    margin-top: 20px;
}

.cta-select:focus {
    outline: none;
    box-shadow: none;
  }

.cta-select:hover{
    border: 2px solid #FFDA00;
    background: #ffffff;
    color: black;
}

