.card-size{
    width: 48%;
}

.card-img-top-recipe-results{
   max-width: 100%;
    height: 400px;
}

.recipe-description-align{
    display: flex;
    flex-direction: row;
}

.description-alignment p{
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

@media screen and (max-width: 1024px){
   .card-size{
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
   }

   .recipe-row{
      display: flex;
      flex-direction: column;
       justify-content: center;
   }
}

.card-title-recipe-results{
    text-transform: uppercase;
}