.row-recipe-responsive{
    display: flex;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width:800px){
    .row-recipe-responsive{
       margin-top: 10%;
    }
}

.recipe-title{
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}

.recipe-title h1{
    margin: 10px 0px;
}

@media screen and (max-width:991px){
    .recipe-title h1{
        text-align: center;
    }
}

.recipe-image{
    max-width: 504px;
    max-height: 405px;
    margin-bottom: 10%;
}

@media screen and (max-width: 1024px){
    .recipe-image{
        display: flex;
        justify-content: center;
        margin-left: 2rem;
    }
}

.recipe-text{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

@media screen and (max-width: 1024px){
    .recipe-text{
        margin-top: -2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 767px){
    .recipe-text p{
        margin-left: 2rem;
        text-align: center;
    }
}