.register {
    height: 100vh;
    background: url("../img/backgroundyellow.jpg");
    background-position: 100%;
    display: grid;
    place-items: center;
}
.register__container > img {
    object-fit: contain;
    height: 80px;
}
.register__container {
    margin: 2% 2%;
    height: 86%;
    padding: 40px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) ;
}

@media screen and (max-width: 1024px) {
    .register__container{
        height: 100%;
        padding: 35px;
    }

    .register__container img{
        margin-top: 40px;
        margin-bottom: 0px;
    } 

    .register{
        height: 120vh;
    }
}

.cta-select-register{
    border-radius: 40px;
    padding: 10px 10px;
    background: #FFDA00;
    border: solid 2px #ffffff;
    font-size: 20px;
    margin-top: 20px;
    width: 75%;
    
}

@media screen and (max-width: 1024px) {
    .cta-select-register{
        width: 100%;
    }
}

.register-input{
    height: 40px;
    width: 50%;
    border-radius: 10%;
    border-radius: 10px;
    border: solid 1px lightgrey;
    margin-left: 115px;
}

@media screen and (max-width: 1024px) {
    .register-input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        width: 100%;
    }

}

input{
    margin: 5px;
}

.register-inputs-alignment :focus{
    outline: none !important;
    border:1px solid #FFDA00;
    box-shadow: 0 0 5px #FFDA00;
}

.register-inputs-alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
}