.register {
    height: 100vh;
    background: url("../img/backgroundyellow.jpg");
    display: grid;
    place-items: center;
}
.register__container > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}
.register__container {
    margin: 2% 2%;
    height: 80%;
    padding: 50px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) ;
}
.sign-in-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cta-select{
    border-radius: 40px;
    padding: 10px 10px;
    background: #FFDA00;
    border: solid 2px #ffffff;
    font-size: 20px;
    margin-top: 20px;
    width: 50%;
    
}
.register-input{
    height: 40px;
    width: 50%;
    border-radius: 10%;
    border-radius: 10px;
    border: solid 1px lightgrey;
    margin-left: 115px;
}
input{
    margin: 5px;
}

.register-inputs-alignment :focus{
    outline: none !important;
    border:1px solid #FFDA00;
    box-shadow: 0 0 5px #FFDA00;
}

.register-inputs-alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
}