.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal__gift{
    display: flex;
    align-items: center;
}

.subtotal__gift > input {
    margin-right: 5px;
    margin-top: 0px !important;
}

.button-checkout{
    margin-top: 2rem;
    border: 1px solid #ffda02;
    border-radius: 20px;
    background: #ffda02;
}

.button-checkout:hover{
    border: 2px solid #FFDA00;
    background: #ffffff;
    color: black;
}